* {
    margin: 0;
    padding: 0;
}
.slider {
	display: block;
	position: relative;
	width: 800px;
	height: 400px;
	margin: 0 auto;
	margin-bottom: 100px;
	overflow: hidden;
}
.images-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: .5s;
}
.images-container img {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.buttons-block > div {
	color: #fff;
	cursor: pointer;
	position: absolute;
	top: 50%;
	font-size: 25px;
	z-index: 99;
}
#prev-btn {
	left: 5px;
}
#next-btn {
	right: 5px;
}
#dots-block {
	z-index: 100;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}
.dot {
	width: 15px;
	margin-right: 7px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background: #eeeeee;
	cursor: pointer;
	outline: none;
}
.dot-active {
	background: #000;
}